tr:nth-child(odd) {background: #b8d1f3;}
tr:nth-child(odd) {background: #dae5f4;}

td
{
 white-space:normal;
 word-wrap:break-word;
}

td.def {width:60%}
td.class {width:10%}

table {table-layout:fixed}
